@tailwind base;
@tailwind components;
@tailwind utilities;

:root, .theme-default {
  --editor-bg: #ffffff;
  --editor-text: #000000;
  --bg-primary: #f3f4f6;
  --text-primary: #111827;
  --border-color: #e5e7eb;
  --bg-primaryback: white;  
}

.theme-dark {
  --editor-bg: #1e1e1e;
  --editor-text: #d4d4d4;
  --bg-primary: #2d2d2d;
  --text-primary: #ffffff;
  --border-color: #4b5563;
  --bg-primaryback: grey;  
}

.bg-primary {
  background-color: var(--bg-primaryback) !important;
}

.theme-retro {
  --editor-bg: #f0e6d2;
  --editor-text: #5c4d3c;
  --bg-primary: #e5d9c0;
  --text-primary: #3a3229;
  --border-color: #d1c7b7;
  --bg-primaryback: rgb(219, 194, 178);  
}

.theme-high-contrast {
  --editor-bg: #000000;
  --editor-text: #ffff00;
  --bg-primary: #000000;
  --text-primary: #ffffff;
  --border-color: #ffff00;
  --bg-primaryback: grey;  
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-primaryback);
  color: var(--text-primary);
  transition: background-color 0.3s, color 0.3s;
}

/* Принудительное применение кастомных стилей */
.bg-custom {
  background-color: var(--bg-primary) !important;
}

.text-custom {
  color: var(--text-primary) !important;
}

.border-custom {
  border-color: var(--border-color) !important;
}

/* Переопределение Tailwind классов */
.bg-white {
  background-color: var(--bg-primary) !important;
                                                
}

.text-gray-800 {
  color: var(--text-primary) !important;
}

.border {
  border-color: var(--border-color) !important;
}

/* Стили для редактора кода */
.monaco-editor,
.monaco-editor .margin,
.monaco-editor-background {
  background-color: var(--editor-bg) !important;
}

.monaco-editor .view-lines {
  color: var(--editor-text) !important;
}